:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  width: 900px;
  margin: 10px auto;
  color: purple;
  text-align: center;
}

.maincontent {
  width: 360px;
  margin: 12px auto;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 12px;
  color: orangered;
}

.maincontent img {
  width: 100%;
  border-radius: 12px;
}

.footer {
  width: 900px;
  margin: 10px auto;
  color: green;
  text-align: center;
}